@import "../../variables";

.item-detail-container {
    .item-detail {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 30px 100px;
    
        img {
            width: 400px;
            height: 450px;
            object-fit: contain;
            border: solid 2px white;
            padding: 10px;
        }
    
        .item-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 400px;
            
            .price {
                color: $dark-brand-color;
            }
    
            .actions-container {
                width: 340px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .volver {
                    width: 100%;
                    border-radius: 5px;
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
}