@import "../../variables";

button {
    padding: 10px 30px;
    border-radius: 30px;
    border: none;

    background-color: $brand-gray-color;

    cursor: pointer;

    &:hover {
        background-color: #5e5e5e;
        transform: scale(1.02);
    }

    a {
        text-decoration: none;
        color: white;
        width: 20px;
        height: 15px;
    }
}