

    
    .info-preview {
        display: flex;
        border: solid 1px lightgrey;
        border-radius: 5px;
        padding: 5px;

        a {
            text-decoration: none;
            display: flex;
            gap: 10px;
    
            img {
                width: 80px;
                object-fit: contain;
            }

            .info-prod {
                .title {
                    font-size: 16px;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        .delete-item-icon {
            font-size: 25px;
            cursor: pointer;
        }
    }
