.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    justify-content: space-evenly;
    gap: 4.375rem;
    margin: 3.125rem;

    .item {
        overflow: hidden;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
        
        img {
            width: 100%;
            aspect-ratio: 1/1.2;
            object-fit: cover;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 16px;
            padding-bottom: 5px;
        }

        p {
            font-size: 15px;
        }
    }
}





