@import "../../variables";

.item-detail {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 30px 100px;

    img {
        width: 400px;
        height: 450px;
        object-fit: cover;
    }

    .item-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .price {
            color: $dark-brand-color;
        }

        .actions {
            display: flex;
            gap: 20px;

            .volver {
                border-radius: 5px;
            }
        }
    }

}