// FONTS
$brand-font: 'Abhaya Libre', serif;
$text-font: 'Montserrat', sans-serif;


// COLORS
// Brand
$light-brand-color: #F2E7DA;
$dark-brand-color:#BC7526;
$bold-brand-color: #4D2800;
$brand-gray-color: #4D4D4D;

// Alert / Danger
$alert-background-color: #F2DBDA;
$alert-font-color: #4D0500;

// Success
$success-background-color: #E0F2DA;
$success-font-color: #114200;

// Information 
$info-background-color: #DAE8F2;
$info-font-color: #002C4D;

// Warning
$warning-background-color: #F2F0DA;
$warning-font-color: #4D4500;