@import '../../variables';

.cart-btn-div {
    border: solid 1px $dark-brand-color;
    border-radius: 5px;
    background-color: white;

    width: 200px;
    padding: 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-btn {
        color: #BC7526;
        background-color: transparent;
        border: none;
        font-weight: 800;
    }
}

.add-cart-btn {
    border: solid 1px $dark-brand-color;
    border-radius: 5px;
    background-color: white;
    
    width: 200px;
    padding: 10px 20px;

    color: $dark-brand-color;
    font-weight: 500;

    &:hover {
        background-color: white;
        transform: scale(1.02);
    }
}

.sin-stock {
    background-color: $dark-brand-color;
    font-size: .8331rem;
    padding: 10px 20px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
}