@import '../../variables';

.cart-btn-div {
    margin: 10px 100px;

    width: 200px;
    padding: 2px 20px;
    border-radius: 5px;

    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-btn {
        color: #BC7526;
        font-size: 25px;
        background-color: transparent;
        border: none;
    }
}

.add-cart-btn {
    border: solid 1px $dark-brand-color;
    border-radius: 5px;
    background-color: white;
    
    width: 200px;
    padding: 10px 20px;

    color: $dark-brand-color;
    font-weight: 500;

    &:hover {
        background-color: $dark-brand-color;
        color: white;
        transform: scale(1.02);
    }
}